input[type=text] {
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box; 
}
.main{
    background-color: black;
    width: 700px;
    height: 750px;
    padding-left: 30px;
}
#fnmae{
    width: 40px;
    height: 30px;
    ;
}
div.a{
    position: absolute;
    padding-left: 10px;
}
body {
text-align: justify;
margin-left:  100px;
margin-right:  100px;
color: aliceblue;
text-pading
}
name{
    padding-left: 100px;
    
}